/* Estilos generales del mapa */
.leaflet-container {
  border: 2px solid #e7eef6; /* Borde azul alrededor del mapa */
  border-radius: 10px; /* Esquinas redondeadas */
  height: 40%; 
  width: 100%; /* Asegura que ocupe el 100% del contenedor */
}

/* Estilos del popup del marcador */
.leaflet-popup {
  background-color: #f8f9fa; /* Fondo claro para el popup */
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  padding: 10px; /* Espaciado interno */
  max-width: 300px; /* Limitar el ancho del popup */
  font-size: 14px; /* Establecer tamaño de fuente para contenido */
}

/* Estilo para el título del popup */
.leaflet-popup-content {
  font-size: 16px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita para el título */
  color: #343a40; /* Color del texto */
  margin-bottom: 8px; /* Espacio entre el título y el texto */
}

/* Estilo para el texto dentro del popup */
.leaflet-popup-content-wrapper {
  padding: 5px; /* Espaciado interno */
}

/* Estilo para los botones del popup */
.leaflet-popup-tip {
  background: #f8f9fa; /* Color de fondo de la punta */
  border-color: #f8f9fa; /* Aseguramos que la punta tenga el mismo color */
}

/* Estilo de hover para el marcador */
.leaflet-marker-icon:hover {
  transform: scale(1.1); /* Aumentar el tamaño del icono al pasar el ratón */
  transition: transform 0.3s ease; /* Transición suave */
  cursor: pointer; /* Mostrar un cursor de mano al pasar el ratón */
}

.map-container {
  width: 100%; /* Cambiar a 100% para evitar desbordamiento */
  height: calc(40vw * 9 / 16); /* Mantiene un aspecto de 16:9 */
  margin: 0 auto; /* Centra el contenedor */
  border: 2px solid #ecf4fc; /* Borde azul */
  border-radius: 10px; /* Esquinas redondeadas */
  overflow: hidden; /* Oculta el desbordamiento */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
  z-index: 0;
  position: relative;
 
}
.popup-container {
  text-align: center;
}

.popup-image {
  width: 100%;
  height: auto;
  max-width: 200px; /* Ajusta el tamaño máximo según sea necesario */
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup-button {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #357ABD;
}
.tooltip-container {
  background-color: rgba(236, 238, 240, 0.9); /* Fondo azul con un poco de transparencia */
  color: white; /* Texto blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  transition: opacity 0.3s ease; /* Efecto de desvanecimiento */
  max-width: 200px; /* Ancho máximo */
  font-family: Arial, sans-serif; /* Cambiar a una fuente por defecto del sistema */
}

.tooltip-container img {
  border-radius: 5px; /* Bordes redondeados para la imagen */
}

strong {
  color: #16337b; /* Color amarillo para los nombres de los municipios */
}

small {
  color: rgba(255, 255, 255, 0.8); /* Color blanco con algo de transparencia para la descripción */
}


@media (max-width: 768px) {
  .map-container {
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 40vh;
  }
}



