/* src/components/RegresarButton.css */
.regresar-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: rgba(74, 144, 226, 0.5); /* Color de fondo con transparencia */
    color: #fff;
    border: none;
    border-radius: 50%; /* Redondear el botón */
    cursor: pointer;
    font-size: 24px; /* Tamaño del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.regresar-button:hover {
    background-color: rgba(5, 121, 255, 0.9); /* Color más sólido en hover */
    transform: scale(1.1); /* Escalar el botón al pasar el mouse */
}

.regresar-button i {
    transition: color 0.3s ease; /* Transición suave del color del icono */
    font-size: 18px;
}

.regresar-button:hover i {
    color: #fff; /* Cambia el color del icono en hover */
    
}
